In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

raw_data = pd.read_csv('countries.csv')

###### Filtering and Cleaning

In [2]:
print(raw_data.columns)
raw_data.head(5)

Index(['Unnamed: 0', 'Country', 'Total Cases', 'Total Deaths',
       'Total Recovered', 'Active Cases', 'Critical Cases',
       'Total Cases per Million', 'Total Deaths per Million', 'Continent'],
      dtype='object')

,Unnamed: 0,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Critical Cases,Total Cases per Million,Total Deaths per Million,Continent
0,0,USA,30482127,554871.0,22683617.0,7243639.0,8732.0,91705,1669.0,North America
1,1,Brazil,11950459,292856.0,10419393.0,1238210.0,8318.0,55937,1371.0,South America
2,2,India,11599130,159790.0,11130288.0,309052.0,8944.0,8346,115.0,Asia
3,3,Russia,4456869,95030.0,4069395.0,292444.0,2300.0,30531,651.0,Europe
4,4,UK,4291271,126122.0,3650226.0,514923.0,830.0,62976,1851.0,Europe

In [3]:
raw_data['Country'].unique

<bound method Series.unique of 0                   USA
1                Brazil
2                 India
3                Russia
4                    UK
             ...
214    Marshall Islands
215               Samoa
216             Vanuatu
217          Micronesia
218               China
Name: Country, Length: 219, dtype: object>

In [4]:
raw_data = raw_data.drop_duplicates('Country')

219